
Notes/Ch1 Introduction of JuliaLang/.ipynb_checkpoints/Day_002_example-checkpoint.ipynb
Notes/Ch1 Introduction of JuliaLang/.ipynb_checkpoints/julia_001_example-checkpoint.ipynb
Notes/Ch1 Introduction of JuliaLang/D001_Introduction_and_Installation.pdf
Notes/Ch1 Introduction of JuliaLang/D002_Markdown_and_LaTeX.pdf
Notes/Ch1 Introduction of JuliaLang/Day_002_example.ipynb
Notes/Ch1 Introduction of JuliaLang/hello_julia.jl
Notes/Ch1 Introduction of JuliaLang/julia_001_example.ipynb
Homework/.ipynb_checkpoints/Day_003_hw-checkpoint.ipynb
Notes/Ch1 Introduction of JuliaLang/D003_Package_Management.pdf
Notes/Ch1 Introduction of JuliaLang/Day_003_example.ipynb
